a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

a:active {
  text-decoration: underline;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}


html, body {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  overflow-x: hidden;
}


body {
  text-align: center;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: column;
  
}

.oswald-black {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  color: #2a2a2a;
  margin-top: 2px;
  margin-bottom: 2px;
}

.title {
  font-size: 5em;
  font-weight: 400;
}

.hero-div {
  /* margin-top: 12em; */
  /* margin-bottom: 55em; */
}

.oswald-blue {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  color: #2eb2ff;
  margin-top: 2px;
  margin-bottom: 2px;
}

.oswald-white {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 2vw;
  letter-spacing: 5px;
  color: #2eb2ff;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.fade-in1 {
  opacity: 0;
  animation-name: fadein1secdelay;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  
}

@keyframes fadein1secdelay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-webkit-keyframes fadein1secdelay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.fade-in2 {
  opacity: 0;
  animation-name: fadein2secdelay;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  
}

@keyframes fadein2secdelay {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadein2secdelay {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in3 {
  opacity: 0;
  animation-name: fadein3secdelay;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  
}

@keyframes fadein3secdelay {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(30%);
  }
}


.about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.languages {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2a2a2a;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: #2eb2ff;
  height: 100%;
}

.center-project {
  position: absolute;
  width: 100%;
  top: 87%;
  transform: translateY(-50%);
}
.center-languages {
  position: absolute;
  width: 100%;
  top: 64%;
  transform: translateY(-50%);
}


.about-section {
  background-image: url(./src/assets/bobbycabin.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  }


.oswald-resume {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
  color: #2eb2ff;
  margin-top: 20px;

} 

.about-blurb {
  width: 50vw;
  font-size: 16px;
  text-align: left;
  
}

.text-align-start {
  text-align: start;
}

.top-left {
  position: absolute;
  top: 100px;
  left: 16px;
}

.top-left2 {
  position: absolute;
  top: 180px;
  left: 16px;
}

.center-left {
  position: absolute;
  top: 250px;
  left: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icon-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.text-white {
  color: white;
}

.text-black {
  color: #2a2a2a;
}

.text-blue {
  color: #2eb2ff;
}

.text-gradient {
  color: linear-gradient(to right, #30CFD0 0%, #005583 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.margin-left {
  margin-left: 16px;
}

.project-text {
  font-size: 16px;
  text-align: justify;
}

.project-text-box {
  width: 300px;
}



@media only screen and (max-width: 960px) {
  .top-left {
    position: absolute;
    top: 100px;
    left: 16px;
  }
  
  .top-left2 {
    position: absolute;
    top: 180px;
    left: 16px;
  }
  
  .center-left {
    position: absolute;
    top: 300px;
    left: 16px;
  }
  .about-blurb {
    width: 40vw;
    font-size: 13px;
  }
  .bobby-cabin {  
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: auto;
    /* float: inherit; */
    width: 180%;
    height: auto;
    right: 350px;
  }
}







@media only screen and (max-width: 500px) {
  .title {
    font-size: 4em;
  }
  h3 {
    font-size: 1em;
  }

  .center-left {
    top: 180px;
  }
  .about-blurb {
    width: 28vw;
  }
  .top-left {
    top: 50px
  }
  .top-left2 {
    top: 120px;
  }
  .bobby-cabin {  
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: auto;
    /* float: inherit; */
    width: 350%;
    height: auto;
    right: 600px;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .icon-row {
    font-size: 10px;
  }
  .icon-row2 {
    font-size: 10px;
  }
  .github-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .smallscreenfont {
    font-size: 14px;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .project-text {
    font-size: 12px;
  }
  .project-text-box {
    width: 300px;
  }
  .project-row {
    align-items: center;
  }

}